name: integration-test

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  build-test-and-run:
    # REMOVED: The 'if' condition is no longer needed because
    # we removed the trigger that caused the problem.
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          clean: true
      - name: Build & Run Script
        run: cmake -DBUILD_TESTS=ON -P build_and_run_project.cmake
